.navbar {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-style {
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-family: Arial;
    justify-content: ;
    text-align: right;
}

.navbar-img {
    flex: 1 0 0%;
    text-align: right;
    vertical-align: top;
    max-width: 100%;
    max-height: 300px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #008cff;
    text-decoration: none;
}

.header {
    font-family: "sofiapro-bold", sans-serif;
    font-weight: 700
}

h1 {
    display: block;
    color: #134c43;
    font-family: "sofiapro-bold", sans-serif;
    line-height: 1.2
}

body,
html {
    font-family: "Arial Narrow Bold", sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    color: #212529;
    background-color: #f6fcfc;
    margin: 0;
}

img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.green-block {
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    background-color: #30BEA7;
}

.header-div {
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.giphy-embed {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.subtitle {
    font: 19px Arial, sans-serif;
    text-align: center;
}

.cookiesHeader {
    font-family: Arial;
    font-size: 27px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
}

.center {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.instructions {
    width: 25em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font: 20px "Arial", san-serif;
    color: #555555
}

#table {
    margin-top: 40px;
}

.table {
    border: 1px solid #dddddd;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    font: 14px Arial;
    color: #555555;
    cursor: pointer;
}

.login-box {
    width: 14em;
    border: 1px solid #333;
    box-shadow: 3px 3px 3px #444;
    padding: 8px 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font: 20px "Arial", san-serif;
    color: #555555;
    background-color: #fff;
    display: flex;
    text-align: center;
}

h2 {
    display: block;
    color: #134c43;
    font-family: 20px "sofiapro-bold", sans-serif;
    line-height: 1.2
}

tr:hover {
    background-color: #feffdb;
    text-decoration: none;
}

.column1 {
    font: 40px Arial;
    font-weight: bold;
    color: black;
    width: 100px;
}

tr:hover {
    background-color: #feffdb;
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #0f1626;
    text-align: center;
    font: 12px "Arial";
}

th {
    font: 40px Arial;
    color: black;
}

#heading {
    color: #f2f2f2;
}

.loginHeader {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 45px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: #005838;
}

.loginForm {
    margin-left: auto;
    margin-right: auto;
    font: 12px "Arial";
    color: #555555;
    display: flex;
}

.button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: goldenrod;
    border: 5px solid goldenrod;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.pill-shape {
    border-radius: 50rem;
}

.formFields {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 0;
}

.flex.space-between {
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;

}

.flex {
    display: flex;
}

.contact {
    margin-left: auto;
    margin-right: auto;
    font: 12px "Arial";
    color: #555555;
    text-align: center;
}

.contact-form {
    margin-left: auto;
    margin-right: auto;
    color: #555555
}

/* Used PXtoEM.com for 'px to em' conversions and vice versa */