.flex-parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box1 {
    width: 14em;
    padding: 8px 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font: 20px "Arial", san-serif;
    color: #555555;
    background-color: transparent;
    text-align: center;
  }
  .pint {
    text-align: left;
  }